@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
// font-family: 'Rubik', sans-serif; 400R 500M 600SB 700B



//---------------------------------------------

.link-xl{
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;

}

.link-l{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.link-s{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

//-----------------------------------------------

.button-l{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}


.button-s{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}


//-----------------------------------------

.headline-xxl{
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    font-weight: 700;
}

.headline-xl{
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
    font-weight: 500;
}

.headline-l{
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.headline-s{
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
}

.headline-xs{
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;

}

//-------------------------------

.paragraph-xxl{
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.paragraph-xxl-light{
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.paragraph-xl{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.paragraph-l{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.paragraph-s{
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.paragraph-xs{
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}
//---------------------------

.logo-l{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.logo-s{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}